body{
    /* background:linear-gradient(
        to right,
        green 0%,
        green 50%,
        skyblue 50%,
        skyblue 100%
    ); */
    background: linear-gradient(45deg,red,blue);
    padding: 5px 10px;
}
.container{
    display: flex;
    flex-direction: column;
}

.leftside_container{
    
    top:0;
    margin-top: 80px;
    left:0;
    margin-left: 30px;
    position: fixed;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    padding-bottom: 10px;
    
}
.email{
    height: auto;
    width: 280px;
    display: flex;
    justify-content: space-between;
}
h1,.validemails,.invalidemails{
    color: aliceblue;
}
.vm{
    text-decoration: underline cornsilk;
}
.rightside_container{
    font-size: 30px;
    top: 0;
    margin-top: 100px;
    right: 0;
    margin-right: 20px;
    position:fixed;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 420px;
    width:100%;
}
form{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.inputs{
    padding: 4px 8px;
    border: 2px solid gray;
    border-radius: 10px ;
    width: 400px;
}
button{
    text-transform: uppercase;
    height: 30px;
    color:black;
    border-radius: 5px;
    align-items: center;
    border: none;
    background-color: rgba(2, 167, 8, 0.829);
    cursor: pointer;
}
h1{
    font-size: 50px;
    font-family: 'calibri', Times, serif;
}
.inputs:hover{
    border: 2px solid yellow;
}
.files{
    display: none;
}
.btnfile{
    display: inline-block;
    text-transform: uppercase;
    color:black;
    background: orange;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 25px rgba(0,0,0,0.25);
    border-radius: 3px;
    height: 20px;
    width: 100px;
    padding-top: 5px;
    margin-left: 170px;
}